* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /* line-break: anywhere; */
}

audio {
    height: 100px;
}

.hidden {
    display: none !important;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: monospace;
    background-color: #191919;
    color: white;
    padding: 2rem 0rem;
}

#noInput {
    padding: 1rem 2rem;
}

#app {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 80%;
}

#logo {
    font-weight: bold;
    font-size: 16px;
}

#visualizerCanvas {
    width: 100%;
    height: 100%;
}

#interface {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: -1rem;
}



#left,
#right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: .8rem;
}

#titleBar,
#samplesXmodes,
#sequencer {
    width: 100%;
    border-radius: 8px;
    border: .8px rgb(156, 156, 156) solid;
    padding: 1rem;
}

#titleBar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    select {
        color: white;
        background: none;
    }
}

.sequencerGrid {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;

    button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: rgb(53, 53, 53);
        border: 9px solid black;
    }

    button.active {
        background-color: white;
        border: 9px solid black;
    }

    button.playhead {
        background-color: blue;
    }

    .gridRow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .7rem;
        flex-wrap: wrap;
        width: 340px;
    }
}

#fxControls {
    display: flex;
    /* display: none; */
    flex-direction: column;
    /* overflow: scroll; */
    border: .8px rgb(156, 156, 156) solid;
    border-radius: 8px;
    padding: 1rem;
    scrollbar-width: none;
    gap: 2rem;

    span {
        font-size: 14px;
        /* font-weight: 600; */
    }
}

.FxParamHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
        max-width: 100px;
        overflow: hidden;
    }
}

.FxParams {
    display: none;
    flex-direction: column;
    gap: 8px;
    padding: 8px 1rem 0px 1rem;
}

.FxParam {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.FxHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;

    label {
        font-weight: 900;
        font-size: 20px;
    }
}



#samplesAndMaincontrols {
    display: flex;
    border: .8px rgb(156, 156, 156) solid;
    border-radius: 8px;
    overflow: hidden;
}

#sampels,
#maincontrols {
    width: 50%;
}

#sampels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: .8px solid;
    border-color: transparent rgb(156, 156, 156) transparent transparent;
    padding: .7rem 1.2rem;
}

.sound {
    border: none;
    border-radius: 50%;
    background-color: #202020;
    color: #8D9BAA;
    font-size: 20px;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
}

#maincontrols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#sampleVolumes {
    width: 40%;
}



.sampleVolumeContainer {
    width: 100%;
    height: 200px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

#modes {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    overflow: hidden;
    border: .8px solid;
    border-color: transparent transparent transparent rgb(156, 156, 156);

    button {
        border: none;
        width: 50%;
        height: 100px;
        background-color: rgb(50, 50, 50);
        color: white;
    }
}

#tracks_toggler,
#cutoff_toggler {
    border: .5px solid !important;
    border-color: transparent rgb(156, 156, 156) rgb(156, 156, 156) transparent !important;
}

#tracklength_toggler {
    border: .5px solid !important;
    border-color: rgb(156, 156, 156) transparent transparent transparent !important;
}

#visualiser {
    height: 10rem;
    border: .8px rgb(156, 156, 156) solid;
    border-radius: 8px;
}

#fxboard {
    border: .8px rgb(156, 156, 156) solid;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.1rem;

    button {
        background: none;
        color: white;
        border: .8px rgb(156, 156, 156) solid;
        width: 100%;
        padding: .5rem;
        border-radius: 6px;
    }
}

#controls {
    border: .8px rgb(156, 156, 156) solid;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    gap: .5rem;
    flex-direction: row;


    button {
        padding: .5rem;
        border: none;
        width: fit-content;
        border-radius: 6px;
        background-color: rgb(50, 50, 50);

        color: white;

    }

    input {
        border-radius: 6px;
        padding: .5rem;
        margin: auto;
        border: none;
        background-color: rgb(50, 50, 50);
        color: white;
    }
}

#mainToggles {
    display: flex;
    gap: .5rem;
}

#sampleVolumes input[type=range] {
    writing-mode: bt-lr;
    appearance: slider-vertical;
    height: 80%;
    margin: auto;
    width: fit-content;
}

#bpmControl {
    display: flex;
    gap: .5rem;
}

.selectedSound {
    color: #1F73F3;
}


#packSelector {
    border: none;
}

.paramsContainer {
    display: none;
}


#OutputPlayer {
    display: none;
}